.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25em 3em 0.75em 3.125em;

    .title {
        font-weight: 700;
        font-size: 2.3125rem;
        line-height: 1.1621;
        color: var(--primary-dark);
        margin-right: 0.75em;
    }

    .location {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--primary-dark);
        line-height: 1.4;
        width: 10.25em;
        padding-left: 0.15625em;
        margin-right: 1.25em;

        .place {
            font-size: 0.875em;
            font-weight: 400;
            
            margin-left: 0.546875em;
        }
        
    }

    .authUser {
        display: flex;
        justify-content: center;
        align-items: center;

        .inputSearch {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 1em;

            input {
                width: 23.429375em;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.1875;
                color: var(--primary-body);
                margin: 1em 0 0.9375em 1.25em;
                padding: 0;
                border: none;
                outline: none;

            }

            .searchButton {
                border-radius: 2.5625em;
                background-color: var(--secondary-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.6875em 2.3125em;
                margin-left: -1.3em;
            }
            .searchButton:hover {
                cursor: pointer;
            }
        }   
        
        .cart {
            width: 3.125em;
            height: 3.125em;
            border: 1px solid var(--primary-body);
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-right: 1.25em;
    
            .productsCount {
                width: 1.9375em;
                height: 1.9375em;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                right: -0.75em;
                top: -0.3em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
        }
        .cart:hover {
            cursor: pointer;
        }

        .avatar {
            width: 3.125em;
            height: 3.125em;
            border-radius: 3.625em;
            background-image: url('../../assets/Header/avatar.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .avatar:hover {
            cursor: pointer;
        }
    }
}
