.sidebar {
    grid-area: sidebar;
    padding: 1.3125em 1.5em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .freeGoods {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 19.4375em;
        padding: 1.3125em 0 1.25em 1.25em;
        border: 1px solid var(--accent-pink);
        border-radius: 1.25em;
        background-color: var(--secondary-white);

        .discounts {
            margin-left: -0.6875em;
            margin-right: 1.0625em;
        }

        .textBlock {

            .text {
                font-weight: 600;
                font-size: 1.25em;
                line-height: 1.3;
                color: var(--accent-blue);
            }

            .button {
                max-width: 12.125em;
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.1875;
                color: var(--secondary-white);
                text-align: center;
                padding: 0.6875em 1.5625em 0.625em 1.5625em;
                background-color: var(--accent-blue);
                border-radius: 3.1875em;
            }
            .button:hover {
                cursor: pointer;
            }
        }
    }

    .banners {
        margin-top: 2.0625em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        .banner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19.4375em;
            height: 10.5em;
            border-radius: 1.25em;
            
            .text {
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1.15;
                text-align: center;
                color: var(--secondary-white);
                width: 8.336em;
            }
        }
    
        .banner:not(:first-child) {
            margin-top: 1.25em;
        }
    
        .banner:hover {
            cursor: pointer;
        }
    }
}

/*@media (max-width: 874px) {
    .sidebar {
        
        .freeGoods {
        }
        .banners {
            
            
        }
    }
}*/