@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@400;500;600;700&display=swap');
:root {
  box-sizing: border-box;

  /** css-vars*/
  --primary-dark: #2d2d2f;
  --primary-body: #727280;
  --secondary-blue: #f0f4fb;
  --secondary-very-light-grey: #F8F8F8;
  --secondary-grey: #8D8D8E;
  --secondary-white: #fff;
  --secondary-menu-blue: #AEC2EA;
  --accent-pink: #FF2D87;
  --accent-blue: #2967FF;
  --accent-green: #58CF18;
  --accent-yellow: #FFA601;
  --accent-light-pink: #FF7CB4;
  --light-grey: #E5E5E5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
