/*.banners {
    margin-top: 2.0625em;
    padding-left: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;*/

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19.4375em;
        height: 10.5em;
        border-radius: 1.25em;
        
        .text {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.15;
            text-align: center;
            color: var(--secondary-white);
            width: 8.336em;
        }
    }

    /*.banner:not(:first-child) {
        margin-top: 1.25em;
    }*/
    .banner {
        margin-top: 1.25em;
    }

    .banner:hover {
        cursor: pointer;
    }
/*}*/

@media(max-width: 1354px) {
    .banner {
       margin-left: 0.75em;
       flex: 1 1 15.4375em;        
    }
}

@media(max-width: 1127px) {
    .banner {
       flex-grow: 0;
       flex-basis: 17.4375em;        
    }
}